*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.claude/settings.local.json
*.json
/.omc/state/hud-stdin-cache.json
/.vs/Paperless_1.slnx/FileContentIndex
/.vs/Paperless_1.slnx/v18/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
